---
layout: home
---
<body>
	<table>
		<col width="90%">
		<col width="10%">
		<tr><th>IFM 97</th><th>Download</th></tr>
		{% for file in site.static_files %}
			{% if file.path contains 'assets/voice/IFM97' %}
				<tr><td><span>{{ file.name }}</span><p>/voice{{ file.path }}</p></td>
					<td><a href="{{ site.baseurl }}{{ file.path }}"><img src="{{ site.baseurl }}/assets/images/download.png"></img></a></td></tr>
			{% endif %}
		{% endfor %}
	</table>
	<script src="/js/jquery.min.js"></script>
	{% include open-embed.html %}
</body>
